html, * {
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }

  #title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

  }


  
  button {
    font-family: Arial, Helvetica, sans-serif;  
    display: block;
    padding: 10px;
    font-size: 16px;
    color: grey;
    border: 1px solid grey;
    border-radius: 4px;
    outline: none;
  }
  
  button:hover {
    background-color: grey;
    color: white;
  }
  
 .deal.cards {
     display: flex;
     flex-direction: row;
     justify-content: center;
 }

 .user.cards {
     display: flex;
     flex-direction: row;
     justify-content: center;
 }
