html, * {
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    color: grey;
    border: 1px solid grey;
    border-radius: 4px;
    outline: none;
  }
  
  button:hover {
    background-color: grey;
    color: white;
  }
  
  .cardBack {
      height: 7rem;
      width: 5rem;
  }