html, * {
    box-sizing: border-box;
}
  
html, body {
    height: 100%;
}

#title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

h2 {
  text-align: center;

}
  
button {
    font-family: Arial, Helvetica, sans-serif;  
    display: block;
    padding: 10px;
    margin: 4%;
    font-size: 16px;
    color: grey;
    border: 1px solid grey;
    border-radius: 4px;
    outline: none;
}

button:hover {
    background-color: grey;
    color: white;
}
  
.dealer-container {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     justify-items: ;
}

.player-container {
     display: flex;
     
     justify-content: space-between;
}

.p-card {
  border: 2px solid darkgray;
  margin : 0 6px 0 6px;

}

.d-card {
  border: 2px solid darkgray;
  margin-bottom: 3%;
}
